.jumbotron{
  text-align: center;
  background: none;
}

.carousel-item {
 height: 330px;
}
.sectionLight{
  background-color: #eceeef;
  padding: 2em/
}
.sectionDark{
  background-color: #CCCCCC;
  padding: 2rem;
}
